<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
<div clas="table-responsive">
    <h1>Users List      </h1>
    <br/>
  <div >
      <table class="table table-bordered table-striped table-hover"    id="userListTable">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Role</th>
          <th>Service</th>
        </tr>
      </table>
  
    </div>
  
  </div>